@import url('https://fonts.googleapis.com/css2?family=Outfit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
  font-family: 'Outfit';
}

.flex {
  display: flex;
}

.cookies-column {
  border-right: 1px solid #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  padding: 40px 0px 0px 0px;
  height: 100vh;
}

.cookie-gathering-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 0px 0px;
  max-width: 500px;
}

.text-center {
  text-align: center;
}

.title {
  text-transform: uppercase;
  font-size: 24px;
}

.select-cookies {
  border: 1px solid #ececec;
  padding: 12px 24px;
  width: 200px;
  font-family: 'Outfit';
  font-weight: 300;
  text-align: center;
  font-size: 14px;
}

.light-font {
  font-weight: 200;
}

.cookies-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 64px 0px;
}

.grow-1 {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}
.cookies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 10px;
  margin-right: 20px;
}

.cookie {
  position: relative;
  cursor: pointer;
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
  margin-left: 16px;
}

.cart-cookies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}

.cart-cookie {
  position: relative;
  cursor: pointer;
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
  margin-right: 16px;
}

.cookie-counter {
  position: absolute;
  font-weight: bold;
  background-color: #ffde59;
  padding: 8px 24px;
  top: -20px;
  right: 0px;
}

.cookie-title {
  margin-top: 0px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.7px;
}

.box-title {
  background-color: #ffde59;
  padding: 12px 24px;
  transform: rotate(-5deg);
}

.add-to-cart-btn {
  border: 2px solid #00a7d0;
  color: #00a7d0;
  background-color: transparent;
  font-family: 'Outfit';
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  padding: 12px 24px;
}

.add-to-cart-btn:hover {
  border: 2px solid #00a7d0;
  color: #fff;
  background-color: #00a7d0;
  font-family: 'Outfit';
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  padding: 12px 24px;
}

.counter {
  display: flex;
}

.plus {
  padding: 0px 8px;
  margin-right: 8px;
  background-color: #ffde59;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plus:hover {
  background-color: #00a7d0;
}

.minus {
  padding: 0px 8px 2px 8px;
  margin-left: 8px;
  background-color: #ffde59;
  display: flex;
  justify-content: center;
  align-items: center;
}
.minus:hover {
  background-color: #00a7d0;
}
