@import url('https://fonts.googleapis.com/css2?family=Outfit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Outfit';
  color: #333;
}

.flex {
  display: flex;
}
.order-cookies {
  max-width: 1200px;
  margin: auto;
}

.cookies-column {
  border-right: 1px solid #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  padding: 40px 0px 0px 0px;
}

.cookie-gathering-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 0px 0px;
  max-width: 500px;
}

.text-center {
  text-align: center;
}

.title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.select-cookies {
  border: 1px solid #ececec;
  padding: 12px 24px;
  width: 200px;
  font-family: 'Outfit';
  font-weight: 300;
  text-align: center;
  font-size: 14px;
}

.light-font {
  font-weight: 200;
}

.cookies-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 64px 0px;
}

.grow-1 {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}
.cookies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 10px;
  margin-right: 20px;
}

.cookie {
  position: relative;
  cursor: pointer;
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
  margin-left: 16px;
}

.cart-cookies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}

.cart-cookie {
  position: relative;
  cursor: pointer;
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
  margin-right: 16px;
}

.cookie-counter {
  position: absolute;
  font-weight: bold;
  background-color: #ffde59;
  padding: 8px 24px;
  top: -20px;
  right: 0px;
}

.cookie-title {
  margin-top: 0px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.7px;
}

.box-title {
  background-color: #ffde59;
  padding: 12px 24px;
  transform: rotate(-5deg);
}

.add-to-cart-btn {
  border: 2px solid #00a7d0;
  color: #00a7d0;
  background-color: transparent;
  font-family: 'Outfit';
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  padding: 12px 24px;
  text-decoration: none;
}

.disabled {
  cursor: not-allowed !important;
  color: #777;
  border: 2px solid #ccc;
  background-color: #ccc;
}

.disabled:hover {
  border: 2px solid #ccc !important;
  background-color: #ccc !important;
  color: #777 !important;
}

.add-to-cart-btn:hover {
  border: 2px solid #00a7d0;
  color: #fff;
  background-color: #00a7d0;
  font-family: 'Outfit';
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  padding: 12px 24px;
}

.counter {
  display: flex;
}

.plus {
  padding: 0px 8px;
  margin-right: 8px;
  background-color: #ffde59;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plus:hover {
  background-color: #00a7d0;
}

.minus {
  padding: 0px 8px 2px 8px;
  margin-left: 8px;
  background-color: #ffde59;
  display: flex;
  justify-content: center;
  align-items: center;
}
.minus:hover {
  background-color: #00a7d0;
}

@media screen and (max-width: 768px) {
  .order-cookies {
    flex-direction: column;
  }
  .cookies-column {
    height: auto !important;
    padding: 80px 0px;
    max-width: 100% !important;
    border-bottom: 1px solid #ececec !important;
  }
  .cookie-gathering-column {
    padding: 80px 0px;
    max-width: 100% !important;
  }
}

/* Checkout */
.back-btn {
  border: 2px solid #00a7d0;
  color: #00a7d0;
  background-color: transparent;
  font-family: 'Outfit';
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  padding: 12px 24px;
  text-decoration: none;
}
.back-btn:hover {
  border: 2px solid #00a7d0;
  color: #fff;
  background-color: #00a7d0;
  font-family: 'Outfit';
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  padding: 12px 24px;
  text-decoration: none;
}

.checkout {
  max-width: 1200px;
  margin: auto;
  padding: 40px 0px;
}

.checkout-form {
  padding-top: 40px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  min-width: 500px;
}

.checkout-page {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}

input,
textarea,
.submit-btn {
  border: 2px solid #333333;
  outline: none;
  font-family: 'Outfit', Sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 8px 16px;
  margin-bottom: 16px;
  width: 350px;
}

label {
  text-align: left;
  margin-bottom: 16px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: -0.3px;
}

.submit-btn {
  color: #fff;
  background-color: #333;
  font-family: 'Outfit';
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  padding: 12px 24px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: none;
  width: 387px;
}
.submit-btn:hover {
  color: #333;
  background-color: #ffde59;
  font-family: 'Outfit';
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  padding: 12px 24px;
  text-decoration: none;
}

.disable-btn {
  cursor: not-allowed !important;
  color: #333;
  background-color: #ccc !important;
  font-family: 'Outfit';
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  padding: 12px 24px;
  text-decoration: none;
}

.space-top-24 {
  padding-top: 24px;
}

h3 {
  font-weight: 400;
}

.half-input {
  max-width: 153px;
}

.detail-section {
  margin: 40px 80px;
  max-width: 600px;
}

@media screen and (max-width: 768px) {
  .checkout-page {
    flex-direction: column !important;
    overflow-x: hidden;
    width: auto !important;
  }
  .checkout-form {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 32px !important;
    width: auto !important;
  }
  .form {
    width: auto !important;
  }
  .detail-section {
    margin: 32px !important;
  }
  textarea,
  input {
    width: auto !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .half-input {
    width: 50% !important;
  }
  .details-cookies {
    padding: 30px !important;
  }
  .submit-btn {
    width: 100% !important;
    -webkit-appearance: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .StripeElement {
    width: auto !important;
  }
  .checkout-form {
    min-width: 0px !important;
  }
}

.details-cookies {
  border: 2px solid #333;
  padding: 40px 64px;
  justify-content: left;
  margin-right: 0px;
}

.detail-cookie {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  text-align: left;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.detail-cookie-title {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-title {
  background-color: #ffde59;
  padding: 12px 24px;
  margin: 0;
}

.StripeElement {
  border: 2px solid #333333;
  outline: none;
  font-family: 'Outfit', Sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 8px 16px;
  margin-bottom: 16px;
  width: 350px;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.thankyou {
  text-align: center;
  margin-top: 64px;
  flex-direction: column;
}

.back {
  margin-top: 64px;
}

.rate {
  color: green;
}

.discount-rate {
  color: red;
  text-decoration: line-through;
}

.tax {
  color: #00a7d0;
}

.select {
  font-family: 'Outfit';
  font-size: 16px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 12px;
  border: 2px solid black;
  min-width: 189px !important;
}

select {
  background-image: url('./assets/chev-down.svg');
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
  height: 45px;
}

/* Removing the default arrow */
select {
  -webkit-appearance: none;
  appearance: none;
}

.invoice-details {
  display: flex;
  flex-direction: column;
  padding-left: 14px;
}

.invoice-detail {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.total {
  padding-top: 10px;
  border-top: 1px solid #ececec;
  font-size: 20px;
  font-weight: bold;
}
